:root{
    --black: rgb(21, 21, 21);
    --white: rgb(252, 250, 250);
    --whitish: rgb(231, 225, 225);
    --pink : rgb(225,22,101);
    --gray : gray;
    --shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

}

.movies__list__img {
    height: 280px;
    width: 286px;
    object-fit: cover;
    
}
.movies__btn{
  padding: 20px;
}


.cool__submit{
    position: relative;
    box-shadow: var(--shadow);
    border-radius: 60px;
}

.form__movies input{
    color: var(--pink);
    border: 1px solid rgb(184, 183, 183);
    outline: none;
    border-radius: 30px;
    
}

.form__movies input::placeholder{
    color: rgb(184, 183, 183);
}


.form__movies .search__btn{
    position: absolute;
    right: 0;
    margin: 5px;

    height: 60px;
    width: 60px;

    border-radius: 50%;
    border: none;
    background-color: var(--pink);
}

.form__movies .search__btn .icon{
    color:var(--white);
    font-size: 20px;
}

@media screen and (min-width:300px) and (max-width:600px){
    .form__movies input{
        width: 300px;
        height: 60px;
        padding: 20px;
    }  
    .form__movies .search__btn{
        height: 50px;
        width: 50px;
    }
}
@media screen and (min-width:600px) and (max-width:900px){
    .form__movies input{
        width: 500px;
        height: 60px;
        padding: 20px;
    }  
    .form__movies .search__btn{
        height: 50px;
        width: 50px;
    }
}


@media screen and (min-width:900px) {
    .form__movies input{
        width: 600px;
        height: 70px;
        padding: 20px;
    }   
}



.movies__btn{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.movies__btn button{
    height: 60px;
    width: 100%;
    background-color: var(--white);
    border: 1px solid var(--pink);
    border-radius: 5px;
}

.movies__btn button a{
    color: var(--pink);
    text-decoration: none;
}

.header__moviesInfo{
    height: 70vh;
    background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.underline::after{
    content: '';
    width: 100%;
    background-color: var(--pink);
    display: block;
    margin-right: auto;
    height: 1px;
}

.rating__text{
    background-color: rgb(255, 255, 137);
    height: 25px;

}



.comment-img {
    width: 3rem;
    height: 3rem;
}
.comment-replies .comment-img {
    width: 1.75rem;
    height: 1.75rem;
}
.form-control {
    background-color: rgba(255, 255, 255, .05);
}
.comment__btn{
    color: var(--white);
    background-color: var(--pink);
    padding: 10px;
    border: none;
    border-radius: 5px;
}