:root{
    --black: rgb(21, 21, 21);
    --white: rgb(252, 250, 250);
    --whitish: rgb(231, 225, 225);
    --pink : rgb(225,22,101);
    --gray : gray
}

.movies__list__img {
    height: 180px;
    width:286px ;
    object-fit: cover;
}
.movies__btn{
  padding: 20px;
}
.movies__btn button{
    width: 100%;
    height: 60px;

    background-color: var(--white);
    border: 1px solid var(--pink);
    border-radius: 5px;
    color: var(--pink);

    transition: .4s;
}
.movies__btn button a {
    text-decoration: none;
    color: var(--pink);
    transition: .4s;
}

