@import url('./Navbar.css');
@import url('./Error.css');
@import url('./login.css');
@import url('./Movies.css');
@import url('./Header.css');
@import url('./updateUser.css');
@import url('./MoviesInfo.css');
@import url('./Cart.css');

:root{
    --black: rgb(21, 21, 21);
    --white: rgb(252, 250, 250);
    --whitish: rgb(231, 225, 225);
    --pink : rgb(225,22,101);
    --shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.cursor-pointer{
    cursor: pointer;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand';
}
a{
    text-decoration: none;
}
p{
    color: rgb(144, 143, 143);
}

.pink{
    color: var(--pink);
}